/* src/components/Home.css */
.home {
    width: 100%;
    
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .page-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #2c3e50;
    text-align: center;
  }
  
  .cards-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #64ffda;
    padding: 1.5rem;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {
    .cards-container {
      flex-direction: column;
      align-items: center;
    }
  }
  
  